[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "koRpus"]
	path = koRpus
	url = https://github.com/undocumeantit/korpus
	shallow = true
	registered = true
[submodule "sylly"]
	path = sylly
	url = https://github.com/undocumeantit/sylly
	shallow = true
	registered = true
[submodule "sylly.en"]
	path = sylly.en
	url = https://github.com/undocumeantit/sylly.en
	shallow = true
	registered = true
[submodule "koRpus.lang.en"]
	path = koRpus.lang.en
	url = https://github.com/undocumeantit/korpus.lang.en
	shallow = true
	registered = true
[submodule "klausuR"]
	path = klausuR
	url = https://github.com/undocumeantit/klausur
	shallow = true
	registered = true
[submodule "tm.plugin.koRpus"]
	path = tm.plugin.koRpus
	url = https://github.com/undocumeantit/tm.plugin.korpus
	shallow = true
	registered = true
