[submodule ".registry"]
	path = .registry
	url = https://github.com/undocumeantit/undocumeantit.r-universe.dev
	branch = HEAD
[submodule "roxyPackage"]
	path = roxyPackage
	url = https://github.com/unDocUMeantIt/roxyPackage
